nav {
  height: 60px;
  background-color: $blueOne;
}

main {
  margin: 20px 0;

  li {
    border-bottom: 1px solid #cccccc;
    padding: 20px;

    a, p, button {
      margin-bottom: 12px;
      display: block;
    }

    a, p {
      line-height: 1.2em;
    }
  }
}

